## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [46]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [47]:
sample_list_1=random.sample(range(0, 100), 80)
print(sample_list_1)

[31, 19, 36, 83, 25, 11, 98, 78, 51, 92, 67, 14, 32, 86, 35, 48, 4, 47, 93, 1, 60, 80, 94, 84, 82, 15, 44, 24, 77, 43, 75, 16, 73, 89, 3, 42, 39, 34, 49, 88, 99, 20, 72, 26, 29, 81, 7, 62, 65, 76, 18, 23, 46, 85, 6, 37, 50, 68, 70, 97, 0, 79, 90, 38, 9, 55, 63, 57, 95, 10, 8, 64, 41, 87, 58, 52, 96, 45, 13, 33]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [48]:
import random
sample_list_1=random.sample(range(0, 100), 80)

set1=set(sample_list_1) #list is converted to a set
print(len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [49]:
import random
sample_list_2=[]
for number in range(0,80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)
print(len(sample_list_2))

[70, 71, 73, 86, 37, 13, 56, 45, 20, 12, 57, 23, 46, 64, 26, 53, 5, 22, 91, 75, 16, 84, 93, 59, 88, 1, 20, 46, 93, 69, 96, 60, 86, 67, 92, 94, 41, 70, 81, 56, 38, 89, 67, 10, 9, 54, 36, 75, 46, 51, 73, 60, 16, 59, 64, 25, 18, 45, 89, 6, 23, 68, 25, 85, 22, 8, 29, 80, 75, 45, 23, 13, 60, 74, 6, 25, 12, 52, 39, 59]
80

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [50]:
set2=set(sample_list_2)
print(len(set2))
#No it is no longer 80

52

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [51]:
set3=set1.symmetric_difference(set2)
print(set3)

{0, 2, 3, 4, 11, 13, 14, 17, 19, 21, 24, 28, 30, 31, 32, 33, 34, 37, 40, 42, 47, 48, 50, 52, 54, 55, 58, 61, 62, 65, 66, 69, 70, 74, 77, 78, 79, 83, 90, 94, 95, 97, 98, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [52]:
set4=set2.symmetric_difference(set1)
print(set4)

{0, 2, 3, 4, 11, 13, 14, 17, 19, 21, 24, 28, 30, 31, 32, 33, 34, 37, 40, 42, 47, 48, 50, 52, 54, 55, 58, 61, 62, 65, 66, 69, 70, 74, 77, 78, 79, 83, 90, 94, 95, 97, 98, 99}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [53]:
set5 = set1.intersection(set2)
print(set5)

{1, 5, 6, 8, 9, 10, 12, 16, 18, 20, 22, 23, 25, 26, 29, 36, 38, 39, 41, 45, 46, 51, 53, 56, 57, 59, 60, 64, 67, 68, 71, 73, 75, 80, 81, 84, 85, 86, 88, 89, 91, 92, 93, 96}

#### 8 - Create an empty set called `set6`.

In [54]:
set6=set("")
print(type(set6))

<class 'set'>

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [67]:
set3.update(set5)
set6.update(set3)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [57]:
set1==set6


#false

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [63]:
set1.issubset(set2)
#false
set3.issubset(set1)
#false

False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [72]:
setU=set3.union(set4.union(set5))
setT=set1.union(set2)
setU==setT
#TRUE

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [75]:
set1.pop() #???? sets are not indexed and pop takes out the last item
print(set1)

{2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 45, 46, 47, 48, 50, 51, 53, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 67, 68, 71, 73, 75, 77, 78, 79, 80, 81, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [76]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)#convert list to set
set1.symmetric_difference_update(set_to_remove) # keep only the elements that are NOT present in both sets
print(set1)

{1, 2, 3, 4, 5, 6, 8, 10, 12, 14, 16, 17, 18, 20, 22, 23, 24, 25, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 45, 46, 47, 48, 49, 50, 53, 55, 56, 57, 58, 60, 62, 64, 65, 66, 67, 68, 69, 73, 75, 77, 78, 80, 83, 84, 85, 86, 88, 90, 92, 93, 95, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [79]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [81]:
#Sets of unique items (sets don't allow duplicates)
father_set=set(father_list)
print(father_set)

mother_set=set(mother_list)
print(mother_set)

Jo_set=set(Jo_list)
print(Jo_set)

Carlos_set=set(Carlos_list)
print(Carlos_set)

Mattia_set=set(Mattia_list)
print(Mattia_set)

{'onions', 'toilet paper', 'cucumber', 'yogurt', 'garlic', 'gums', 'watermelon', 'flour'}
set()
{'onions', 'tomatoes', 'blueberries', 'cucumber', 'sugar', 'milk', 'yogurt', 'juice', 'gums', 'garlic', 'watermelon'}
{'onions', 'toilet paper', 'tomatoes', 'blueberries', 'cherries', 'garlic', 'water', 'flour'}
set()

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [86]:
CiJ=Carlos_set.intersection(Jo_set)
print(CiJ) #elements wanted by both

Mattia_set=Carlos_set.union(Jo_set) #all elements added to Mattia's set
Mattia_set.symmetric_difference_update(CiJ) #removes elements wanted by both C and J
print(Mattia_set)

{'onions', 'tomatoes', 'blueberries', 'garlic'}
{'onions', 'tomatoes', 'blueberries', 'cherries', 'cucumber', 'juice', 'garlic', 'water', 'watermelon', 'flour', 'toilet paper', 'sugar', 'milk', 'yogurt', 'gums'}
{'cherries', 'cucumber', 'juice', 'water', 'watermelon', 'flour', 'toilet paper', 'sugar', 'milk', 'yogurt', 'gums'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [87]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['cucumber', 'bread', 'deodorant', 'blueberries', 'toilet paper', 'watermelon', 'toilet paper', 'shampoo', 'garlic', 'garlic']

In [88]:
mother_set=set(mother_list)
print(mother_set) #no duplicates in a set

{'toilet paper', 'shampoo', 'cucumber', 'blueberries', 'bread', 'garlic', 'deodorant', 'watermelon'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [93]:
family_set=father_set.union(mother_set& Jo_set & Carlos_set & Mattia_set) #all the sets put together
print(family_set)

family_set.discard("toilet paper") #remove the item
print(family_set)

{'onions', 'toilet paper', 'shampoo', 'cucumber', 'blueberries', 'bread', 'yogurt', 'garlic', 'gums', 'deodorant', 'watermelon', 'flour'}
{'onions', 'shampoo', 'cucumber', 'blueberries', 'bread', 'yogurt', 'garlic', 'gums', 'deodorant', 'watermelon', 'flour'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
#done above
print(family_set)

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [100]:
while len(family_set)>5:
    family_set.pop()
    
print("The father bought: ", family_set)

The father bought:  {'garlic', 'gums', 'deodorant', 'watermelon', 'flour'}